<div class="container mt-5">
    <h3 class="text-gray-800 text-center">Add Project</h3>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <form>
                <div class="form-row">
                    <label for="projectname">Project Name</label>
                    <input type="text" name="projectname" placeholder="Project Name" class="form-control" id="projectname">
                </div>
                <div class="form-row">
                    <label for="studentname">Student Name</label>
                    <input type="text" name="studentname" placeholder="Student Name" class="form-control" id="studentname">
                </div>
                <div class="form-row">
                    <label for="facultyname">Faculty Name</label>
                    <input type="text" name="facultyname" placeholder="Faculty Name" class="form-control" id="facultyname">
                </div>
                <div class="form-row">
                    <label for="technology">Technology</label>
                    <select id="technology" class="form-control" name="tech">
                      <option selected>Technology...</option>
                      <option>...</option>
                    </select>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="startdate">Start Date:</label>
                        <input type="date" id="startdate" name="startdate" class="form-control">                        
                    </div>
                    <div class="form-group col-md-6">
                        <label for="deadline">Deadline:</label>
                        <input type="date" id="deadline" name="deadline" class="form-control">                        
                    </div>                            
                </div>
                <div class="form-row">
                    <label for="description">Description</label>
                    <textarea class="form-control rounded-0" id="textarea" name="description" type="description" rows="5"></textarea>
                </div> 
                <div class="form-row">
                    <label for="status">Status</label>
                    <select id="status"  class="form-control" name="status">
                      <option selected>Status...</option>
                      <option>...</option> 
                    </select>
                  </div>  
                <div class="row justify-content-center mt-2">
                    <button type="button" class="btn btn-outline-primary mr-2">Save</button>
                    <button type="button" class="btn btn-outline-secondary">Reset</button>
                </div>
            </form>
        </div>
    </div>
</div>
